{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--Estos scripts son para los botones, ni idea como editarlos-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'js/confirmacion.js'%}"></script>

<!-- Page Header -->
<header class="masthead" style="background-image: url(/static/img/home-bg.jpg)">
  <div class="overlay"> </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{% block titulo %}Bienvenidos{% endblock %}</h1>
          <span class="subheading">{% block subtitulo %}Blog de Noticias y Actualidad{% endblock %}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row card-body">
    <div class=" card col-md-8">

      {% block listado %}Base Listado{% endblock listado %}

    </div>

    <div class="col-md-4" style="padding-left: 50px;">
      <!-- Busqueda por fecha -->
      <div class="row">
        <div class="col-md-4 col-lg-10">

          <strong>
            <p style="width: 80px;margin-bottom:10px">Fechas</p>
          </strong>
          {% if es_categ %}
          <form action="/categoria/{{categ}}/filtro/" method="GET">
          {% else %}
          <form action="/filtro/" method="GET">
          {% endif %}
            <div class="form-group row">
              <!-- <label for="example-text-input" class="col-1 col-form-label">Desde </label> -->

              <div class="col-2">
                <input type="date" name="desde">

              </div>
            </div>
            <div class="form-group row">
              <!-- <label for="example-text-input" class="col-1 col-form-label">Hasta</label> -->
              <div class="col-2">
                <input type="date" name="hasta">
              </div>
            </div>
            <div class="d-grid gap-2 col-9 mx-auto" style="padding-left: 120px">
              <button type="submit" name="Buscar" class="btn btn-outline-success btn-sm"
                style="color:black;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;padding-top: 10px;"> <img
                  src="{% static 'img/search.svg' %}" style="width:17px;height:17px" alt='' /></button>
              <!-- <input type="submit" name="Buscar" class="btn btn-outline-success"> -->
            </div>
          </form>
        </div>
      </div>

      <!-- Categorias -->
      <div class="row">
        <div class="col-md-4 col-lg-10">
          <strong>
            <p style="margin-bottom: 5px">Categorias</p>
          </strong>
          {% for categ in categoria %}
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" style="padding-left: 5px"
                href="{% url 'categorias' categ.categoria_nombre %}">{{categ.categoria_nombre}}</a>
            </li>
          </ul>
          {% endfor %}
        </div>
      </div>

    </div>

    <br>
  </div>

  <div class="row">
    <div class="col-12 pag" style="padding-left: 25px;">
      <!-- -------------------------------------- ACA VA LO DE PAGINACION--------------------- -->
      {% if is_paginated %}

      {% if page_obj.has_previous %}

      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}} ">Previous</a>

      {% endif %}

      {% for num in page_obj.paginator.page_range %}

      {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
        href="?page={{num}}">{{num}}</a>
        {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}} ">Last</a>
        {% endif %}


        {% endif %}
        <!-- -------------------------------------- ACA TERMINA LO DE PAGINACION --------------------- -->
    </div>
  </div>

</div>

{% endblock %}